body {
    background-color: white;
}

.box{
	width: 100px;
	height: 280px;
	border: 1px solid #000;
	transition: all .25s ease-in-out;
    vertical-align: middle;
	font-size: 85px;
	text-align: center;
	line-height: 100px; 
	cursor: pointer;
  }